/*base*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Header*/
.container{
    background-color: black;
}
header{
    background-color: black;
}
ul{
    list-style-type: none;
    background-color: black;
}